{% extends "voc2.j2" %}

{% block summary %}
<p>Het Grootschalig Referentiebestand (GRB) of Basiskaart Vlaanderen is een geografisch informatiesysteem dat dient als topografische referentie voor Vlaanderen. Het is een gemeenschappelijke geografische basis waarop alle gebruikers eigen gegevens kunnen enten. Het GRB bevat enkel geografische en kenmerkende informatie van goed definieerbare, conventioneel aanvaarde referentiegegevens: gebouwen, kavels, wegen en hun inrichting, waterlopen en het wegennetwerk. Deze pagina geeft het applicatieprofiel weer van Basiskaart Vlaanderen.</p>
{% endblock %}