{% extends "voc2.j2" %}

{% block summary %}
<p>Basiskaart Vlaanderen of het het Grootschalig Referentiebestand (GRB) is een geografisch informatiesysteem dat dient als topografische referentie voor Vlaanderen. Het is een gemeenschappelijke geografische basis waarop alle gebruikers eigen gegevens kunnen enten. Het GRB bevat enkel geografische en kenmerkende informatie van goed definieerbare, conventioneel aanvaarde referentiegegevens: gebouwen, kavels, wegen en hun inrichting, waterlopen en het wegennetwerk. Deze pagina geeft het applicatieprofiel weer van Basiskaart Vlaanderen.</p>

<p>Het GRB is een geografische databank die wordt opgebouwd en beheerd als gevolg van het decreet van 16 april 2004 houdende het Grootschalig Referentiebestand.
Het GRB biedt hierdoor een duurzaam antwoord op de voortdurende vraag naar grootschalige geografische informatie.
In eerste instantie is het GRB een grootschalige kartering. Terreingegevens worden met een precisie ingewonnen die een normaal gebruik toelaat in het schaalbereik 1/250 - 1/2500. Concreet worden gegevens van gebouwen, inrichting van wegen, spoorwegen, watergebieden en kavels opgenomen. </p>

<p>Daarnaast geldt het GRB ook als een referentie. De GRB-data zijn referentiegegevens, zoals bedoeld in artikel 6 van het GRB-decreet. Dit betekent dat het Vlaamse Gewest, de Vlaamse Gemeenschap, de intern verzelfstandigde agentschappen met rechtspersoonlijkheid, de publiekrechtelijk vormgegeven extern verzelfstandigde agentschappen, de privaatrechtelijk vormgegeven extern verzelfstandigde agentschappen, de Vlaamse openbare instellingen, de provincies en de gemeenten vanaf 1 januari 2006 een aanvaardingsplicht hebben ten aanzien van deze gegevens. Vanaf een jaar na het moment dat het GRB gebiedsdekkend is, bestaat er bovendien een algemene gebruiksplicht.</p>
{% endblock %}